# Beware! This file is rewritten by disendata and is not user friendly
# all lines with '# ' are comments

#  Database:

path_database = ~/.disendata/local_messenger.db

#  Language:

# available languages: en_UK, en_US, de_DE
language = en_UK

#  Minimum size:
min_y = 20
min_x = 40

#  Keys reserved for options:

k_switch_window = TAB
k_help = F4
k_config = F5
k_escape = F1

# create new member
k_new_member = F6

# create new chat
k_new_chat = F7

# show/edit details of the chat/member (is this comment needed?)
k_edit_chat = F8

k_debug = F9
k_exit = F12


#  Values of the windows in the terminal:

# in percent of the display size,
# if it is 0, the optional parameters are used

w_line_chat_message = 20
w_line_debug_chat = 10
w_line_message_type = 80

# optional parameters
# in lines or spaces, there are min these lines/spaces

i_line_chat_chat = 2
w_line_type_new_message = 3
w_line_debug_lines = 5
